:root {
  --color-black: #000;
  --color-white: #fff;
}

$insta-photo-largest-w: 26.5rem;
$insta-photo-largest-h: 28.5rem;

* {
  margin: 0;
  padding: 0;
}

#root {
  overflow-x: hidden;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: inherit;
}

html {
  border-sizing: border-box;
  font-size: 62.5%; //10/16 = 62.
}

.main > *:not(.about-secondary) {
  max-width: 94rem;
  width: 44%;
  margin: 10rem auto;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 5px solid #d3d3d3;
  border-top-color: #000;
  height: 7rem;
  width: 7rem;
  margin-top: -3rem;
  margin-left: -3rem;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
