.footer {
  @include flexCenter;
  display: flex;
  justify-content: center;

  &__img-main {
    position: fixed;

    @media only screen and (min-width: 375px) {
      width: 100%;
      bottom: 30rem;
    }

    @media only screen and (min-width: 1200px) {
      width: 66%;
      bottom: 0px;
    }
  }

  &__bottom {
    height: 30rem;
    background-color: var(--color-black);
    width: 101%;
  }
}
