.footer {
  @include flexCenter;
  display: flex;
  justify-content: center;

  &__img-main {
    width: 85%;
    position: fixed;
    bottom: 0px;
  }

  &__bottom {
    height: 30rem;
    background-color: var(--color-black);
    width: 101%;
  }
}
