@mixin borderStyle ($width, $height, $bradius, $color, $backColor) {
  border-style: solid;
  border-width: 3px;
  background-color: $backColor;
  border-color: $color;
  width: $width;
  height: $height;
  border-radius: $bradius;
  font-weight: bold;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}

@mixin buttonHover($color, $backColor) {
  color: $color;
  background-color: $backColor;
  transform: translateY(3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
