.game-wrapper {
  margin: 15rem 0 0 0;
}
.ip {
  @include flexCenter;
  flex-direction: column;

  $main-heading: 70rem, 16rem, 0.4rem, var(--color-white), var(--color-primary);
  $play-button: 28rem, 5rem, 3rem, var(--color-white), var(--color-primary);

  &__main-heading {
    margin: 0 0 4rem 0;
    @include borderStyle($main-heading...);

    &__text {
      @include flexCenter;
      color: var(--color-white);
      font-size: 7rem;
      height: 100%;
    }
  }

  &__play-button {
    @include borderStyle($play-button...);
    font-size: 2rem;
    color: var(--color-white);

    &:hover {
      @include buttonHover(var(--color-primary), var(--color-white));
    }

    &:focus {
      outline: none;
    }
  }
}
