.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  border-radius: 3px;
  transition: all 0.5s ease-in;
}

.auth-form .reset-pass {
  justify-content: center;
}

.auth-form {
  // grid-template-columns: 30rem 1fr;
  height: 77vh;
  width: 50vw;
  border: 1px solid #dcdcdc;
  border-radius: 0.7rem;
  background-color: var(--color-white);
  transition: all 0.5s ease-in;

  &__field-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__field-wrapper.forgot {
    margin-top: 3rem;
  }

  &__left {
    grid-column: 1;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    // grid-column: 2;
  }

  &__logo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__google,
  &__facebook {
    position: relative;
    border-radius: 2rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 3.8rem;
    margin-bottom: 2rem;
  }

  &__oauth-text {
    color: var(--color-white);
  }

  &__oauth-logo {
    position: absolute;
    left: 1rem;
  }

  &__wrapper:first-of-type {
    margin-top: 0;
  }

  &__wrapper:last-of-type {
    margin-bottom: 0;
  }
  &__wrapper {
    margin-bottom: 4rem;
  }

  &__item {
    display: flex;
    border: none;
    font-size: 1.3rem;
    width: 20rem;
  }

  &__input-box {
    width: 100%;
  }

  .input {
    font-size: 1.3rem;
    padding: 0.4rem 0;
    border-bottom: 2px solid var(--color-light-grey-2);
    width: 100%;
  }

  .label {
    margin: 1rem 0;
    text-transform: uppercase;
  }

  &__error {
    font-size: 1.5rem;
    color: #ff3232;
  }

  &__item:focus {
    outline: none;
  }

  &__error {
  }

  &__button {
    width: 10rem;
    height: 3rem;
    border-radius: 1.6rem;
    margin: 3rem;
  }

  &__heading {
    display: flex;
  }

  &__heading-item {
    font-size: 3rem;
    margin: 2rem 0.5rem;
  }

  &__legal {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__exit {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    font-size: 3rem;
    margin: 1rem 2rem;
    color: var(--color-black);
  }

  &__cross-line {
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__cross-text {
    margin: 0 1rem;
    font-size: 1.6rem;
  }
  &__cross-line:before,
  &__cross-line:after {
    background-color: #555;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  .up {
    border-bottom: 2px solid;
  }

  .in {
    color: var(--color-light-grey-1);
  }

  //MAIL VERIFICATION MODAL
  //////////
  &__vm-logo-box {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin-top: 2rem;
  }
  &__vm-logo {
    height: 10rem;
    width: 10rem;
  }
  &__vm-text-box {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
  }

  &__vm-heading {
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    margin: 3rem 0 0.8rem 0;
  }

  &__vm-text {
    font-size: 1.6rem;
    margin: 0.8rem;
  }

  &__vm-check {
    height: 5rem;
  }
}
