.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  border-radius: 3px;
  transition: all 0.5s ease-in;
}

.auth-form .reset-pass {
  justify-content: center;
  margin: 3rem;
}

.auth-form {
  // grid-template-columns: 30rem 1fr;

  border: 1px solid #dcdcdc;
  border-radius: 0.7rem;
  background-color: var(--color-white);
  transition: all 0.5s ease-in;

  @media only screen and (min-width: 375px) {
    height: 100%;
    width: 100%;
  }

  @media only screen and (min-width: 1200px) {
    height: 78%;
    width: 50vw;
  }

  &__content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__field-wrapper-sign-up {
    @media only screen and (min-width: 375px) {
    }

    @media only screen and (min-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(2, 26rem);
      grid-gap: 6rem;
    }
  }

  &__field-wrapper-sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__field-wrapper.forgot {
    margin-top: 3rem;
  }

  &__left {
    grid-column: 1;
  }

  &__box {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // grid-column: 2;
  }

  &__logo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__oauth {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: 375px) {
      flex-direction: column;
      margin: 1rem 0 0 0;
    }

    @media only screen and (min-width: 1200px) {
      flex-direction: row;
      margin: 1.2rem 0 1.2rem 0;
    }

    &__item {
      position: relative;
      border-radius: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (min-width: 375px) {
        width: 60%;
        border-radius: 4rem;
        height: 6rem;
        margin: 0 0 3rem 0;
      }

      @media only screen and (min-width: 1200px) {
        width: 45%;
        height: 3.8rem;
        border-radius: 2rem;
        margin: 2rem 0 2rem 0;
      }
    }

    &__google {
      border: 1px solid #d34836;
      background-color: var(--color-white);
    }

    &__facebook {
      border: 1px solid #3b5998;
      background-color: var(--color-white);
    }

    &__text-google {
      font-family: "Oswald-Regular";
      color: #d34836;

      @media only screen and (min-width: 375px) {
        font-size: 2.6rem;
      }

      @media only screen and (min-width: 1200px) {
        font-size: 1.6rem;
      }
    }

    &__text-facebook {
      font-family: "Oswald-Regular";
      color: #3b5998;

      @media only screen and (min-width: 375px) {
        font-size: 2.6rem;
      }

      @media only screen and (min-width: 1200px) {
        font-size: 1.6rem;
      }
    }

    &__logo {
      position: absolute;
      left: 1rem;
    }
  }

  &__new-forgot {
    margin: 0.5rem;
    font-size: 1.4rem;
    font-family: "Oswald-Medium";
    color: var(--color-secondary);
    text-align: center;

    @media only screen and (min-width: 375px) {
      font-size: 4rem;
    }

    @media only screen and (min-width: 1200px) {
      font-size: 1.4rem;
    }
  }

  &__wrapper:first-of-type {
    @media only screen and (min-width: 375px) {
      margin-top: 2.2rem;
    }

    @media only screen and (min-width: 1200px) {
      margin-top: 0;
    }
  }

  &__wrapper:last-of-type {
    margin-bottom: 0;
  }
  &__wrapper {
    @media only screen and (min-width: 375px) {
      margin-bottom: 2.2rem;
    }

    @media only screen and (min-width: 1200px) {
      margin-bottom: 2rem;
    }
  }

  &__item {
    display: flex;
    border: none;
    font-size: 1.3rem;
    width: 20rem;
    font-family: "Oswald";
  }

  .input:focus {
    outline: none;
    border-bottom: 2px solid #0b4246;
  }
  &__input-box {
    @media only screen and (min-width: 375px) {
      width: 50rem;
    }
    @media only screen and (min-width: 1200px) {
      width: 100%;
    }
  }

  &__input {
    box-sizing: border-box;
    font-size: 1.6rem;
    background: #f5f5f5;
    border-radius: 4rem;
    width: 100%;
    height: 5rem;
    border: none;
    padding: 0 1.6rem 0 1.6rem;

    @media only screen and (min-width: 375px) {
      height: 7rem;
      font-size: 3.6rem;
    }

    @media only screen and (min-width: 1200px) {
      height: 5rem;
      font-size: 1.6rem;
    }
  }

  &__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    border-bottom: 4px solid var(--color-secondary);
  }
  ::placeholder {
    text-align: center;
    color: var(--color-black);
    opacity: 1;
    font-family: "Oswald-Regular";
  }

  .label {
    margin: 1rem 0;
    text-transform: uppercase;
  }

  &__error {
    font-size: 1.5rem;
    color: #ff3232;
    margin: 0.6rem;
    height: 2rem;
    text-align: center;
    font-family: "Oswald-Regular";
  }

  &__link {
    border: 1px solid #a3a3a3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
  }

  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    height: 10rem;

    @media only screen and (min-width: 375px) {
      margin: 2rem 0 5rem 0;
    }

    @media only screen and (min-width: 1200px) {
      margin: 0 0 2.5rem 0;
    }
  }

  &__heading-item {
    font-size: 5rem;
    margin: 2rem 0.5rem;
    text-transform: uppercase;
    font-family: "Oswald-Medium";

    @media only screen and (min-width: 375px) {
      font-size: 8rem;
    }

    @media only screen and (min-width: 1200px) {
      font-size: 5rem;
    }
  }

  .middle {
    text-transform: lowercase;
    margin: 0 1.4rem 0 1.4rem;
  }

  &__legal {
    text-align: center;
    font-family: "Oswald-Medium";

    @media only screen and (min-device-width: 375px) {
      margin: 1.6rem 0 1.6rem 0;
      width: 60%;
      font-size: 2.6rem;
    }

    @media only screen and (min-width: 1200px) {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
      width: 100%;
    }
  }

  &__exit {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    color: var(--color-black);

    @media only screen and (min-device-width: 375px) {
      font-size: 6rem;
      margin: 3rem 5rem;
    }

    @media only screen and (min-width: 1200px) {
      font-size: 3rem;
      margin: 1rem 2rem;
    }
  }

  &__cross-line {
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__cross-text {
    margin: 0 1rem;
    font-size: 1.6rem;
  }
  &__cross-line:before,
  &__cross-line:after {
    background-color: #555;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  .selected {
    color: var(--color-black);
  }

  .idle {
    color: var(--color-light-grey-1);
    transition: all 0.2s linear;
  }

  .idle:hover {
    color: var(--color-secondary);
  }
  // .idle:hover {
  //   color: #a9a9a9;
  //   border-bottom: 2px solid #a9a9a9;
  // }

  //MAIL VERIFICATION MODAL
  //////////
  &__vm-logo-box {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin-top: 2rem;
  }
  &__vm-logo {
    height: 10rem;
    width: 10rem;
  }
  &__vm-text-box {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
  }

  &__vm-heading {
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    margin: 3rem 0 0.8rem 0;
  }

  &__vm-text {
    font-size: 1.6rem;
    margin: 0.8rem;
  }

  &__vm-check {
    height: 5rem;
  }
}
