.game-auth {
  height: 30rem;
  @include flexCenter;
  flex-direction: column;
  justify-content: space-around;

  &__button {
    $play-button: 28rem, 5rem, 3rem, var(--color-white),
    var(--color-light-grey-1);
    @include borderStyle($play-button...);
    color: var(--color-white);
    background-color: var(--color-light-grey-1);
    font-size: 2rem;
    border: none;

    &:hover {
      @include buttonHover(var(--color-white), var(--color-primary));
    }

    &:focus {
      outline: none;
    }

    &:nth-child(4) {
      $proceed: 28rem, 5rem, 3rem, var(--color-primary), var(--color-white);
      @include borderStyle($proceed...);
      color: var(--color-primary);
    }

    &:nth-child(4):hover {
      @include buttonHover(var(--color-white), var(--color-primary));
    }
  }
}
