.dashboard {
	position: relative;
	&__search-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50rem;
		background-repeat: no-repeat;
		background-size: cover;
		box-sizing: border-box;
		font-size: 1.6rem;
		flex-direction: column;
		position: relative;
	}

	&__heading {
		font-size: 3rem;
		position: absolute;
		top: 15rem;
		color: #fff;
		// font-weight: bold;
	}
	&__search-bar-input {
		height: 5.5rem;
		width: 55rem;
		border: 1px solid #d3d3d3;
		border-radius: 5rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		padding: 0 4.5rem;
		font-size: 1.6rem;
		border: 1px solid var(--color-white);
	}

	&__search-icon {
		margin-left: 1.3rem;
		position: absolute;
		height: 5.5rem;
	}

	&__search-bar-button {
		height: 5.5rem;
		width: 13rem;
		border: 1px solid #d3d3d3;
		border-top-right-radius: 5rem;
		border-bottom-right-radius: 5rem;
		font-size: 1.6rem;
		background-color: #00b3b3;
		border: 1px solid #00b3b3;
		color: var(--color-white);
	}

	&__suggestions {
		list-style-type: none;
		width: 53rem;
		background-color: #fff;
		position: absolute;
		right: auto;
		left: 52rem;
		top: 28rem;
		border-radius: 3px;
	}
	&__suggestions-item {
		font-size: 2rem;
		padding: 1rem;
		display: flex;
		align-items: center;
		height: 3.5rem;
	}

	&__suggestions-item:hover {
		background-color: #f5f5f5;
	}

	&__suggestions-search-icon {
		height: 2rem;
	}
	&__suggestions-city {
		padding: 0 0.5rem;
	}
}
